GHOST_IMAGE="bukanai/ghost-s3-adapter"
GHOST_CONTAINER_NAME="container_name"
GHOST_DB_CLIENT="sqlite3"
GHOST_URL="http://domain.com"
GHOST_DB_FILENAME="content/data/ghost.db"
GHOST_DB_useNullAsDefault="true"
GHOST_DB_DEBUG="false"
GHOST_S3="s3"
GHOST_S3_ACCESSKEY="access_key"
GHOST_S3_SECRETKEY="secret_key"
GHOST_S3_BUCKET="images"
GHOST_S3_ACL="public-read"
GHOST_S3_ENDPOINT="https://cdn.domain.com"
GHOST_S3_ASSETHOST="https://cdn.domain.com/images"
GHOST_S3_FORCEPATHSTYLE=true
GHOST_CONTENTPATH="/var/lib/ghost/content"
